<div class="container">
<h1><%= @band.name %></h1>

<h5>Venues this band has already played:</h5>
  <ul>
    <% @band.venues.each do |venue| %>
      <li><%= venue.title %></a></li>
    <% end %>
  </ul>

  <form action="/band/<%= @band.id %>" method="post">
    <div class='form-group'>
      <input type="hidden" name="_method" value="patch">
      <label for="name">Update Band Name</label>
      <input type="text" name="name" class='form-control'><br>
      <button class= "btn btn-default" type="submit">Update</button>
    </div>
  </form>

  <form action="/band/<%= @band.id%>" method="post">
    <label for="venue_id">Select a Venue</label>
    <select id='venue_id' name='venue_id' type='text'>
      <% Venue.all.each() do |venue| %>
      <option value="<%= venue.id()%>"> <%= venue.title() %> </option>
    <% end %>
    </select>
    <button type="submit">Add Venue</button>
  </form>

<button class= "btn btn-default"><a href="/bands/">Back</a></button>

</div>


